<div class="relative w-full min-h-[30rem] p-4 overflow-hidden bg-blue-50 drop-down">
  <div x-data="
  {
    viewMenu: false,
    title: 'My meetings and phone calls',
    items: [
      {
        'title': 'KYC Preparation',
        'count': 6
      },
      {
        'title': 'KYC In Progress',
        'count': 57
      },
      {
        'title': 'KYC Portal Updates Pending Review',
        'count': 1
      },
      {
        'title': 'Risk Assessment Pending',
        'count': 53
      },
      {
        'title': 'Pre-booked Onboarding cases (> 6 Months)',
        'count': 3
      },
      {
        'title': 'Submitted for Approval',
        'count': 233
      },
      {
        'title': 'With Decision Committee',
        'count': 8
      }
    ]}
  ">



    <div class="overflow-hidden bg-white rounded shadow-md card">
      <div class="flex justify-between text-white rounded-t header bg-slate-500">
        <div class="px-3 py-2 text-lg font-bold" x-text="title"></div>
        <div class="flex items-center justify-center px-3 bg-slate-600">
          <svg class="w-[1.5rem] h-[1.5rem]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path class="fill-green-500" d="M244 384h-40c-6.6 0-12-5.4-12-12V256h-67c-10.7 0-16-12.9-8.5-20.5l99-99c4.7-4.7 12.3-4.7 17 0l99 99c7.6 7.6 2.2 20.5-8.5 20.5h-67v116c0 6.6-5.4 12-12 12zM448 80v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-48 346V86c0-3.3-2.7-6-6-6H54c-3.3 0-6 2.7-6 6v340c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"/></svg>
          <svg class="w-[1.5rem] h-[1.5rem]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path class="fill-green-500" d="M204 128h40c6.6 0 12 5.4 12 12v116h67c10.7 0 16 12.9 8.5 20.5l-99 99c-4.7 4.7-12.3 4.7-17 0l-99-99c-7.6-7.6-2.2-20.5 8.5-20.5h67V140c0-6.6 5.4-12 12-12zm244-48v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-48 346V86c0-3.3-2.7-6-6-6H54c-3.3 0-6 2.7-6 6v340c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"/></svg>        </div>
      </div>
      <ul class="p-0 list-none rounded-b">
        <template x-for="item in items">
          <li class="p-0 m-0">
            <a href="#" class="flex no-underline bg-gray-100 hover:bg-gray-300">
              <span class="counter py-1 min-w-[3.3rem] px-2 bg-gray/70" x-text="item.count"></span>
              <span class="px-2 py-1 bg-white/70 grow counter" x-text="item.title"></span>
            </a>
          </li>
        </template>
      </ul>
    </div>
  </div>
</div>
