<section class="my-5">
    <h2 class="mt-0 mb-5 text-3xl font-semibold leading-normal text-gray-800" id="{{.Get " title_id"}}">{{ .Get "title"
        }}</h2>
    <div class="bg-white border-t border-l border-r rounded-5 ">
        <div class="p-4">
            {{ .Inner }}
        </div>
        <!-- Header -->
        <div class="p-4 mt-4 text-center border-t border-b">
            <button
                class="px-3 px-6 py-3 mb-1 mr-1 text-sm font-bold text-blue-500 uppercase transition-all duration-150 ease-linear bg-transparent border border-blue-500 border-solid rounded outline-none hover:bg-blue-500 hover:text-white active:bg-blue-600 focus:outline-none active show "
                data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" data-bs-target="#{{.Get `id`}}"
                aria-controls="{{.Get `id`}}" data-ripple-color="hsl(0, 0%, 67%)"><i class="fas fa-code me-md-2"></i>
                Show code</button>
            <!-- Commented until we deploy snippets -->
            <!-- <button class="px-3 px-6 py-3 mb-1 mr-1 text-sm font-bold text-blue-500 uppercase transition-all duration-150 ease-linear bg-transparent border border-blue-500 border-solid rounded outline-none hover:bg-blue-500 hover:text-white active:bg-blue-600 focus:outline-none active show " data-ripple-color="hsl(0, 0%, 67%)"><i class="fas fa-file-code me-md-2 pe-none"></i><span
                class="pointer-events-none d-none d-md-inline-block export-to-snippet"> Edit in sandbox</span></button> -->
        </div>
        <!-- Header -->
    </div>
</section>