<ol class="flex py-3">
  {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ol>

<!-- prettier-ignore -->
{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}
{{ $active := "" }}
{{ if eq .p1 .p2 }}
{{ $active := "active " }}
{{ end }}

<li class="px-2 {{ $active }}">
  <a href="{{ .p1.Permalink }}" class="underline">{{ .p1.Title }}</a>
</li>
{{ end }}
