<div class="relative w-full p-4 overflow-hidden bg-blue-50">
  <form action="" class="flex items-center justify-center p-4 bg-white rounded-md">
    <label for="quantity" class="px-4 font-bold text-gray-500">Quantity</label>
    <div class="qty-sel-v1">
      <span
        x-on:click="
        if(squareQty >= 1) {
          squareQty = squareQty - 1
        } else {
          squareQty = 0
        }
        "
      >
        <b class="mb-1">−</b>
      </span>
      <input x-model.number="squareQty" id="quantity" type="text" value="1" />
      <span
        x-on:click="
        squareQty = squareQty + 1
      "
      >
        <b class="mb-1">+</b>
      </span>
    </div>
  </form>
</div>
