<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rothschild</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel=icon href=/fav-icon.svg color=#00c7b7>
  </head>
  <body>
    {{ $content := 0}} {{ $form := 1}} {{ $footer := 0}} {{ if $content }}
    <div class="container">
      <article class="py-8 mx-auto prose">
        {{ .Content }}
      </article>
    </div>
    {{ end }} {{ if $form }} {{ partial "forms-01.html" . }} {{ end }} {{ if
    $footer }} {{ partial "footer-01.html" . }} {{ end }}
  </body>
</html>
