<div class="relative w-full p-4 overflow-hidden bg-blue-50">
  <button type="button" class="spx-btn spx-btn-primary">Primary</button>
  <button type="button" class="spx-btn spx-btn-secondary">Secondary</button>
  <button type="button" class="spx-btn spx-btn-success">Succes</button>
  <button type="button" class="spx-btn spx-btn-danger">Succes</button>
  <button type="button" class="spx-btn spx-btn-warning">Warning</button>
</div>

<div class="relative w-full p-4 overflow-hidden bg-blue-50">
  <button type="button" class="spx-btn spx-btn-primary">Primary</button>
  <button type="button" class="spx-btn spx-btn-primary spx-btn-md">Primary MD</button>
  <button type="button" class="spx-btn spx-btn-primary spx-btn-lg">Primary LG</button>
</div>
